# ---------- General App ----------
PORT=3000
API_DOC_URL=api/docs
API_PREFIX=api
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

# ---------- Database ----------
DATABASE_URL=postgresql://admin:secret@postgres:5432/mydb?schema=public
DB_USER=admin
DB_PASS=secret
DB_NAME=mydb
DB_HOST_PORT=5433

# ---------- PgAdmin UI ----------
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050

# ---------- Redis ----------
REDIS_URL="redis://localhost:6379"
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=your_strong_redis_password
REDIS_HOST_PORT=6380
REDIS_COMMANDER_PORT=8082

# ---------- JWT ----------
JWT_SECRET=secret-key
JWT_TTL=10080
AUTH_COOKIE_TTL=10080
AUTH_COOKIE_NAME=_token
JWT_EXPIRES_IN=7d

# ---------- Logs ----------
LOG_LEVEL=debug
