# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres 
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the 
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# DATABASE_URL="prisma+postgres://localhost:51213/?api_key="
PORT=3000
API_DOC_URL=api/docs
API_PREFIX=api
NODE_ENV=development

REDIS_URL="redis://localhost:6379"


JWT_SECRET=cRoqJ9u+snXmTCWTCgaE5syPZCAKKQ/UrpOghqORS+DVfSbtIRxtMinZQmiKDDOgZpGIGTgrIK7gAAeFoxnpNg==
JWT_TTL=10080
AUTH_COOKIE_TTL=10080
AUTH_COOKIE_NAME=_token

# ---------- App ----------
CORS_ORIGIN=http://localhost:5173

# ---------- Prisma / PostgreSQL ----------
DATABASE_URL=postgresql://admin:secret@postgres:5432/mydb?schema=public

# اجزای جدا (برای compose و pgAdmin)
DB_USER=admin
DB_PASS=secret
DB_NAME=mydb
DB_HOST_PORT=5433

# ---------- JWT ----------
JWT_EXPIRES_IN=7d

# ---------- Logging ----------
LOG_LEVEL=debug

# ---------- pgAdmin ----------
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050